{% extends "inventory/partials/base.html" %}

{% block title %}{{ object.display_name }}{% endblock %}

{% block inventory_content %}

<h2>Viewing: {{ object.display_name }}</h2>

{% if object.location != object %}
<a class="btn btn-outline-secondary btn-primary btn-sm" type="button" href="{% url "inventory:asset_view" object.location.asset_code %}">
    Back to {{ object.location.display_name }}
</a>
{% endif %}

<p>Name: {{ object.name }}</p>
<p>Asset Code: {{ object.asset_code }}</p>
<p>Model: {{ object.asset_model }}</p>
<p>Location: {{ object.location }}</p>
<p>Condition: {{ object.condition }}</p>
<p>Can contain items: {{ object.asset_model.is_container }}</p>

{% if object.asset_model.is_container %}
    <h3>Contents</h3>

    {% include "inventory/partials/asset_table.html" %}
{% endif %}
{% endblock %}