{% extends "inventory/partials/base.html" %}

{% block title %}{{ object.display_name }}{% endblock %}

{% block inventory_content %}

    <h2>Viewing: {{ object.display_name }}</h2>

    <p>
    <div class="btn-group" role="group">
        {% if object.location != object %}
            <a class="btn btn-secondary btn-sm" type="button"
               href="{{ object.location.get_absolute_url}}">
                Back to {{ object.location.display_name }}
            </a>
        {% endif %}
        {% if perms.inventory.change_asset %}
            <a class="btn btn-warning btn-sm" type="button" href="{{ object.get_edit_url }}">Edit</a>
            {% if object.asset_model.is_container %}
                <a class="btn btn-success btn-sm" type="button" href="#">Move items here</a>
            {% endif %}
        {% endif %}
        {% if perms.inventory.delete_asset %}
            <a class="btn btn-danger btn-sm" type="button" href="{{ object.get_delete_url }}">Delete</a>
        {% endif %}
    </div>
    </p>

    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item"><strong>Name:</strong> {{ object.name }}</li>
                <li class="list-group-item"><strong>Asset Code:</strong> {{ object.asset_code }}</li>
                <li class="list-group-item"><strong>Location:</strong> {{ object.location }}</li>
                <li class="list-group-item"><strong>Condition:</strong> {{ object.get_condition_display }}</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item"><strong>Model:</strong> {{ object.asset_model.display_name }}</li>
                <li class="list-group-item"><strong>Manufacturer:</strong> {{ object.asset_model.asset_manufacturer }}
                </li>
                <li class="list-group-item"><strong>Can contain items:</strong> {{ object.asset_model.is_container }}
                </li>
                <li class="list-group-item text-center">
                    <div class="btn-group" role="group">
                        <a class="btn btn-success btn-sm" type="button" href="{% url 'inventory:model_view' object.asset_model.pk %}">View</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item"><strong>Notes:</strong> <br/>{{ object.notes }}</li>
            </ul>
        </div>
    </div>

    {% if object.asset_model.is_container %}
        <h3>Contents</h3>
        {% include "inventory/partials/asset_table.html" %}
    {% endif %}
{% endblock %}