{% extends "inventory/partials/base.html" %}

{% block title %}{{ object.name }}{% endblock %}

{% block inventory_content %}

    <h2>Viewing Manufacturer: {{ object }}</h2>

    <div class="btn-group" role="group">
        {% if perms.asset_manufacturer_chance %}
            <a class="btn btn-warning btn-sm" type="button" href="{{ object.get_edit_url }}">Edit</a>
        {% endif %}
    </div>
    </p>

    <div class="row">
        <div class="col-md-6">
                <li class="list-group-item"><strong>Name:</strong> {{ object.name }}</li>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item"><strong>Notes:</strong> <br/>{{ object.notes }}</li>
            </ul>
        </div>
    </div>

    <h3>All models by {{ object.name }}</h3>
    {% include "inventory/partials/model_table.html" %}
{% endblock %}