{% extends "base.html" %}

{% block content %}

<h1>SRO Hub - Inventory</h1>

<form action="{% url 'inventory:index' %}">
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="query" placeholder="Search for Assets" value="{{ query }}">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-success" type="button">Search</button>
      </div>
    </div>
</form>

{% block inventory_content %}{% endblock %}

{%  if is_paginated %}
    <nav>
      <ul class="pagination text-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
              <span class="page-link" tabindex="-1">Previous</span>
            </li>
        {% endif %}
        {% for p in page_obj.paginator.page_range %}
            {% if p == page_obj.number %}
                <li class="page-item active"><span class="page-link" >{{ p }}</span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% else %}
             <li class="page-item disabled">
              <span class="page-link">Next</span>
            </li>
        {% endif %}
      </ul>
    </nav>
{% endif %}
{% endblock %}