<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Model</th>
      <th scope="col">Location</th>
      <th scope="col">Quantity</th>
      <th scope="col">Last Updated</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for consumable in consumables %}
        <tr>
            <td><a href="{{ consumable.consumable_model.get_absolute_url }}">{{ consumable.consumable_model }}</a></td>
            <td><a href="{{ consumable.location.get_absolute_url }}">{{ consumable.location }}</a></td>
            <td>{{ consumable.quantity }}</td>
            <td>{{ consumable.updated_at }}</td>
          <td>
              <div class="btn-group" role="group">
                  <a type="button" class="btn btn-warning btn-sm" href="#">Edit</a>
              </div>
          </td>
        </tr>
    {% endfor %}
  </tbody>
</table>