{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ object }}{% endblock %}

{% block content %}

    <h2>Editing: {{ object }}</h2>

    <div class="btn-group" role="group">
        <a class="btn btn-secondary btn-sm" type="button"
           href="{{ object.get_absolute_url }}">
            Back to {{ object }}
        </a>
    </div>
    </p>

    <form method="post">
      {% csrf_token %}
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
      {% endfor %}
      {{ form|crispy }}
      <div class="text-center">
          <button class="btn btn-success" type="submit">Update</button>
      </div>
    </form>
{% endblock %}