{% extends "base.html" %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

    <h2>Viewing Manufacturer: {{ object }}</h2>

    <div class="btn-group" role="group">
        {% if perms.inventory.change_asset_manufacturer %}
            <a class="btn btn-warning btn-sm" type="button" href="{{ object.get_edit_url }}">Edit</a>
        {% endif %}
        {% if perms.inventory.delete_asset_manufacturer %}
            <a class="btn btn-danger btn-sm" type="button" href="{{ object.get_delete_url }}">Delete</a>
        {% endif %}
    </div>
    </p>

    <div class="row">
        <div class="col-md-6">
            <li class="list-group-item"><strong>Name:</strong> {{ object.name }}</li>
            <li class="list-group-item"><strong>Last Updated:</strong> {{ object.updated_at }}</li>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item"><strong>Notes:</strong> <br/>{{ object.notes|linebreaks }}</li>
            </ul>
        </div>
    </div>

    <h3>All models by {{ object.name }}</h3>
    {% include "inventory/partials/model_table.html" with models=page_obj %}
{% endblock %}