{% extends "base.html" %}

{% block title %}Inventory{% endblock %}

{% block content %}

    {% if query %}
    <h2>Inventory Search: "{{ query }}"</h2>
    {% else %}
    <h2>Inventory Search</h2>
    {% endif %}

    <form action="{% url 'inventory:index' %}">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="query" placeholder="Search..." value="{{ query }}">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>

    {% if count_sum > 0 %}
      <p>{{ count_sum }} results.</p>
    {% else %}
      <p>No results.</p>
    {% endif %}

    {% if assets_count > 0 %}
      <h3>Assets</h3>
      {% include "inventory/partials/asset_table.html" %}
      {% if assets_count > 2 %}
        <a class="btn btn-primary btn-sm float-right" type="button" href="{% url 'inventory:asset_search' %}?query={{ query }}">View all {{ assets_count }} results</a>
      {% endif %}
    {% endif %}

    {% if models_count > 0 %}
      <h3>Models</h3>
      {% include "inventory/partials/model_table.html" %}
      {% if models_count > 2 %}
        <a class="btn btn-primary btn-sm float-right" type="button" href="{% url 'inventory:model_search' %}?query={{ query }}">View all {{ models_count }} results</a>
      {% endif %}
    {% endif %}

    {% if manufacturers_count > 0 %}
      <h3>Manufacturers</h3>
      {% include "inventory/partials/manufacturer_table.html" %}
      {% if manufacturers_count > 2 %}
        <a class="btn btn-primary btn-sm float-right" type="button" href="{% url 'inventory:manufacturer_search' %}?query={{ query }}">View all {{ manufacturers_count }} results</a>
      {% endif %}
    {% endif %}

    {% if consumables_count > 0 %}
      <h3>Consumables</h3>
      {% include "inventory/partials/consumable_table.html" %}
      {% if consumables_count > 2 %}
        <a class="btn btn-primary btn-sm float-right" type="button" href="{% url 'inventory:consumable_search' %}?query={{ query }}">View all {{ consumables_count }} results</a>
      {% endif %}
    {% endif %}

{% endblock %}