{% extends 'base.html' %}
{% block content %}
    <div class="row my-5">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card rounded-1">
                    <div class="card-header">
                        <h5 class="mb-0">{% block title %}{% endblock %}</h5>
                    </div>
                    <div class="card-body">
                        {% block inner %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
