{% extends 'base_float.html' %}

{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block inner %}
    <form method="post">
      {% csrf_token %}
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
      {% endfor %}
      {{ form|crispy }}
      <div class="text-center">
          <button class="btn btn-success" type="submit">Sign up</button>
          <p style="padding-top: 1em">Already have an account? <a href="{% url 'login' %}">Login here!</a></p>
      </div>
    </form>
{% endblock %}